.profile-image {
  border-radius: 50%;
  margin: 0 0 2rem;
  width: 32%;
  max-width: 27%;
}

#intro {
  justify-content: center;
}

.split.contact {
  display: flex;
  justify-content: space-between; /* This will ensure equal spacing between the sections */
  align-items: center; /* Aligns items vertically in the center */
  text-align: center;
  width: 100%; /* Ensures the container takes up full width */
  padding: 20px;
  box-sizing: border-box; /* Includes padding and border in the element's total width and height */
}

.split.contact > section {
  flex: 1; /* Gives each section equal width */
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers content of each section vertically and horizontally */
  margin: 0 10px; /* Adds horizontal margin for spacing, adjust or remove as necessary */
}

@media (max-width: 768px) {
  .split.contact {
      flex-direction: column; /* Stacks the items vertically */
  }
}


.split.contact p {
  text-align: center; /* Ensures text is centered */
  margin: 0 auto; /* Centers the paragraph and removes any default margin */
  padding: 10px 0; /* Adds vertical padding for better spacing, no horizontal padding */
  max-width: 90%; /* Optionally restricts paragraph width for better readability */
}

.split.contact section {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.split.contact h3, .split.contact p, .split.contact ul {
  margin-bottom: 10px; /* Maintains uniform spacing below each element */
}

.icons.alt {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

@media (max-width: 600px) {
  .split.contact {
      flex-direction: column;
  }
}

.split.contact h3, .split.contact p {
  margin: 0; /* Removes default margins */
}

.split.contact > section * {
  max-width: 100%; /* Ensures no child element is wider than its parent */
  box-sizing: border-box; /* Includes padding and border in the element's total width and height */
}


footer {
  width: 100%;
  padding: 20px 10px;
  box-sizing: border-box;
  text-align: center;
  position: relative;
  bottom: 0;
  left: 0;
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer li {
  display: inline;
  color: #f2f2f2;  /* Example text color */
  font-size: 14px; /* Sets the font size of the text in the footer */
}
