@media screen and (max-width: 768px) {
    #nav {
        transform: translate3d(calc(-100vw + 119px), 0, 0);
        transition: transform 200ms ease-in;
        display: block;
        position: absolute;
        top: 0px;
        bottom: 0px;
        max-width: calc(100vw - 120px);
        height: 100vh;
        background: #1e252d;
        z-index: 9999;
        padding: 5rem 0;
        margin: 0;
        flex-direction: column;
        border-right: 1px dotted rgba(255, 255, 255, 0.5);
        

        ul {
            display: block;
        }

        &.open {
            transform: translate3d(0, 0, 0);
            transition: transform 300ms ease-out;
        }
        
    }
}

@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}

.mobile-menu {
    color: white !important;
    border-color: white;
    margin: 15px;
    position: absolute;
    right: 0;
    z-index: 9999;
}