<!-- Wrapper -->
<div id="wrapper" class="fade-in">

  <!-- Intro -->
  <div id="intro">
    <img src="assets/images/90658563.jpg" class="profile-image" alt="" srcset="">
    <h1>Mateo Fernandez Blanco</h1>
    <p>Welcome to my professional portfolio!<br>
      I am a skillful Data Analyst with <strong>+4 years of experience in Data Analytics</strong> and a robust educational background in Data Science.<br>
      Currently based in London, United Kingdom 🇬🇧
    </p>
    <ul class="actions">
      <!-- <li><a href="#header" class="button icon solid solo fa-arrow-down scrolly">Continue</a></li> -->
    </ul>
  </div>

  <!-- Nav -->
  <nav id="nav">
    <ul class="links">
      <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">About me</a></li>
      <li><a routerLink="/page1" routerLinkActive="active">Page 1</a></li>

    </ul>
    <ul class="icons">
      <li><a href="https://www.linkedin.com/in/mateofernandezblanco" target="_blank" class="icon brands fa-linkedin"><span class="label">Linkedin</span></a></li>
    </ul>
  </nav>

  <router-outlet></router-outlet>
    
  <!-- Copyright -->
  <footer>
    <div id="copyright">
      <ul>
        <li>&copy; 2024 Mateo Fernandez</li>
      </ul>
    </div>
  </footer>

</div>