<!-- Main -->
<div id="main">
 <p>Over more than 4 years, I’ve applied my expertise in <b>Python</b>, <b>SQL</b>, <b>HubSpot CRM</b>, <b>Excel</b> and <b>PowerBI/DOMO</b> to generate insights and drive strategic enhancements across
    various industries such as <b>aesthetics</b>, <b>financial services</b>, <b>FMCG</b> and <b>retail</b>.<br><br>
    Blend of both <b>business</b> and <b>technical data experience</b> – including data analysis, business intelligence, machine / deep learning, and database management.<br><br>
    Expertise in building <b>predictive and regression models</b>, <b>computer vision</b>, <b>clustering/segmentation</b>, <b>causal impact</b>, and apply <b>statistical analysis techniques</b> (A/B and hypothesis testing).<br><br>
    Companies I worked with:
</p>
<div class="brand-images">
    <img src="assets/images/Revance logo (edited).png" alt="Revance">
    <img src="assets/images/Bankingly logo (edited).jpg" alt="Bankingly">
    <img src="assets/images/Colgate logo (edited).png" alt="Colgate">
    <img src="assets/images/El Dorado logo (edited).png" alt="El Dorado">
    <br>
  </div>
  <br>
 <app-footer></app-footer>
</div>